<h2><p>Product Component</p>
<hr>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <div class="container">
    <span><h5>Search Course : <input type="text" class="form-control" placeholder="Search" [(ngModel)]="filteredString"></h5></span>
    
    <span><h5>Sort by : <select  class="form-control"  [(ngModel)]='sortby'>
            <option [value]='1'>
                A-Z
            </option>
            <option [value]='2'>
                low-high
            </option>
            
        </select></h5></span>
    
    <pre>
<table border="2">
    
    <tr>
        <th class="bg-primary text-white">
            Product Id
        </th>
        <th class="bg-primary text-white">
            Product Name
        </th>
        <th class="bg-primary text-white">
            Product Price
        </th>
        <th class="bg-primary text-white">
            Product Desc
        </th>
        <th class="bg-primary text-white">
            Product Img
        </th>
    </tr>
    <tr appMycolor *ngFor="let product of products | filterpipe:filteredString | sort:sortby">


        <td class="bg text-black">
               {{product.productId}}
        </td>
        <td class="bg text-black">
            {{product.productName | uppercase}}
     </td>
     <td class="bg text-black">
        {{product.productPrice}}
 </td>
 <td class="bg text-black">
    {{product.productDes | lowercase}}
</td>
<td class="bg text-black">
    <img [src]="product.productImg" height="70px" width="90px">
</td>
    </tr>
    
</table>
</pre>
</div>
{{errMsg | json}}
